.data-container > .card {
  display: flex;
  break-inside: avoid;
  margin-bottom: 6px;
  padding: 6px 12px;
  border-radius: 6px;
  background-color: #091e420a;
  transition: 0.5s;
  cursor: default;
}

.data-container > .card:hover {
  background-color: #091e4214;
}

